*.ncb
*.suo
*.vcproj.*
/Debug
/Release
/build
/config.*
/makeobj/makeobj
/makeobj/makeobj.exe
*sim
/sim.exe
*.*~
*~
/.build
*.orig
*.rej
/simutrans/*pak*
/simutrans/pak*
/simutrans/text
*.bdf
*.zip
*.vcxproj
*.vcxproj.*
/ipch/*
*.*sdf
*.diff
*.patch
*.log
/doxygen
.vs/Simutrans/v15/Browse.VC.db
.vs/Simutrans/v15/Browse.VC.opendb
.vs/Simutrans/v15/ipch/AutoPCH/3241fa26c80fd725/WEGBAUER.ipch
.vs/Simutrans/v15/ipch/AutoPCH/9634ad8410c9b86e/WEGBAUER.ipch
.vs/Simutrans/v15/Solution.VC.db
.vs/Simutrans/v15/Solution.VC.db-shm
.vs/Simutrans/v15/Solution.VC.db-wal
revision.h
